// ------------------------------------
  // BACKGROUND COLORS
// ------------------------------------
$blue: #00ACC1;
$white: #fff;
$hoverBlue: #006064;
$activeBlue: #80DEEA;


// ------------------------------------
  // Typography
// ------------------------------------
$primaryFontColor: #fff;


// ------------------------------------
  // Ingredient type
// ------------------------------------
$ingGreen:  #4CAF50;
$ingOrange: #FF5722;
$ingPink: #AD1457;
$ingYellow: #FFC400;
$ingNeutral: #9E9E9E;
$ingBlue: #1976D2;